*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}




/* Scroll */
::-webkit-scrollbar { /*toàn bộ ô cuộn*/
    width: 13px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track { 
    background: white;  /*màu nền của ô cuộn */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb { /*thanh cuộn nằm trong ô cuộn*/
      background: #888;  
      border-radius: 10px;
      border: 3px solid transparent; /*HAY*/
      background-clip: content-box;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover { /*thanh cuộn nằm trong ô cuộn khi hover vào */
      background: #0085FF; 
      /*background: #555; */
      border-radius: 10px;
      border: 3px solid transparent;
      background-clip: content-box;
  }
  /* Scroll */


/* all article */
#content-main {
    position: relative;
}
#index_article {
    position: unset; 
    /* vấn đề nằm ở đây , do #index_article có class col-12 mà mấy class col này có mặc định là có position: relative; */
}
#pagination_container {
    position: absolute;
    bottom: 6px;
}

/* my article  */
#my_article {
    position: unset; 
    /* vấn đề nằm ở đây , do #index_article có class col-12 mà mấy class col này có mặc định là có position: relative; */
}